.header {
  
  .link {
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-decoration: none;
  }

  .link:hover {
    transition: all 0.2s ease-in-out;
    background-color: white;
    color: black;
    box-shadow: inset 0 0 10px black;
  }

  .selected {
    background-color: white;
    color: #6c757d;
    box-shadow: inset 0 0 10px black;
  }
}
