.home {
  color: white;
  font-size: 20px;

  input[type="search"] {
    font-family: "FontAwesome";
    padding-left: 8px;
    height: 5vh;
  }
  
  .favorited {
    color: yellow;
  }
  
  .star {
    cursor: pointer;
  }

  .favorite-button {
    width: 80px;
    height: 70px;
    font-weight: 500;
    overflow: hidden;
  }

  .btn-outline-light:focus,
  .btn-outline-light:focus {
    box-shadow: 0 0 0 0;
  }
}
